/* Base Typography*/

h1 {
    font-family: $space-mono ;
    font-weight: $bold;
    font-size: $x-large;
    color: $eerie-black;
}

h2 {
    font-family: $space-mono ;
    font-weight: $bold;
    font-size: $large;
    color: $eerie-black;
}

p {
    font-family: $space-mono ;
    font-weight: $regular;
    font-size: $small; 
    color: $eerie-black; 
}