// Aside layout


// Tags 
.tags ul {
    list-style: none;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    color: white;
}

.tags li {
    display: inline-block;
}

.tags__li {
    margin-left: 1rem;
    margin-right: 1rem;
}

// Aside news

.aside {
    display: block;
}
.aside__item img {
    width: 100%;
    height: auto;
}

@media (max-width: 575.98px) {

    .aside {
        display: none;          
    }

 }

