//Header 

.navbar {       

    .navbar__logo {  
        text-transform: uppercase;
        display: inline-block;
        text-align: left;
        margin-left: 4rem;
    }
    
    .navbar__item, .navbar__list {
        display: inline-block;
    }

    .navbar__list {
        float: right;
        margin-top: 2rem;
    }
    .navbar__ul {
        padding-left: 55rem;
    }

    .navbar__li {
        padding-left: 1rem;
    }
    .navbar ul li a {
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .input-menu {
        border-radius: 30px;
    }
}


@media (max-width: 575.98px) {

    .navbar {
        
        .navbar__logo {
            margin-left: 1rem;
        }
        .navbar__list{
            padding-left: 1rem;

            .navbar__none {
                display: none;
            }
        }
    }
}

@media (max-width: 321px) {

    .navbar{
        .navbar__list {
            float: none;
            margin-top: 0rem; 
        }

    }
    
}